:host {
  display: block;
}

.product-card {
  background-color: #eaeae1;
  border-radius: 2px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Efeito sutil de elevação */
.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #c5c3aa;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
}

.product-card h3 {
  margin: 8px 0 0;
  font-size: 16px;
  color: black;
}

.product-card p {
  margin: 0;
  font-size: 14px;
  color: black;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.description {
  font-size: 14px;
  color: black;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.quantity {
  font-size: 14px;
  color: black;
}

.price {
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-align: right;
}
