<div class="products-page">

  <!-- LATERAL ESQUERDA -->
  <aside class="sidebar left">

    <div class="sidebar-top">
      <div class="search-container" [class.open]="isSearchOpen">
        <button class="action-icon" (mousedown)="isSearchOpen && (ignoreBlur = true)" (click)="toggleSearch()">
          <span class="material-symbols-rounded">search</span>
        </button>

        <input
          #searchInput
          type="text"
          placeholder="Buscar produto..."
          [(ngModel)]="searchTerm"
          (input)="search()"
          (blur)="closeSearch()"
        />
      </div>

      <button class="action-icon">
        <span class="material-symbols-rounded">tune</span>
      </button>
    </div>

    <div class="sidebar-bottom">
      <button class="action-icon back-button">
        <span class="material-symbols-rounded">keyboard_arrow_left</span>
      </button>
    </div>

  </aside>

  <!-- CONTEÚDO CENTRAL -->
  <main class="products-content">

    <ng-container *ngIf="loading; else loadedState">
      <p>Carregando produtos...</p>
    </ng-container>

    <ng-template #loadedState>
      <ng-container *ngIf="products.length > 0; else emptyState">
        <section class="products-grid">
          <app-product-card
            *ngFor="let product of products" [product]="product">
          </app-product-card>
        </section>
      </ng-container>
    </ng-template>

    <ng-template #emptyState>
      <p>Nenhum produto encontrado.</p>
    </ng-template>

  </main>

  <!-- LATERAL DIREITA -->
  <aside class="sidebar right">

    <div class="sidebar-top">
      <button class="action-icon">
        <span class="material-symbols-rounded">menu</span>
      </button>
    </div>

    <div class="sidebar-center">
      <button class="action-icon">
        <span class="material-symbols-rounded">add</span>
      </button>
      <button class="action-icon">
        <span class="material-symbols-rounded">remove</span>
      </button>
    </div>

    <div class="sidebar-bottom">
      <button class="action-icon back-button">
        <span class="material-symbols-rounded">keyboard_arrow_right</span>
      </button>
    </div>

  </aside>

</div>
