/* Página */
.products-page {
  background-color: #c5c3aa;
  min-height: 100vh;
  padding: 20px 96px;
  box-sizing: border-box;
  position: relative;
}

/* Área central (produtos) */
.products-content {
  box-sizing: border-box;
}

/* Grid de produtos */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* Sidebars */
.sidebar {
  position: fixed;
  z-index: 100;
  top: 32px;
  bottom: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar.left {
  left: 32px;
}

.sidebar.right {
  right: 32px;
}

/* Grupos internos */
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 37px;
}

.sidebar-center {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Botões */
.action-icon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: none;

  background-color: #eaeae1;
  color: #c5c3aa;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0;
}

/* Ícones */
.material-symbols-rounded {
  font-size: 30px;
  line-height: 1;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Mensagens */
.products-content p {
  color: black;
  font-size: 14px;
}

/* Pesquisas */
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 37px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.search-container input {
  height: 37px;
  width: 160%;

  padding: 0 12px;
  border: none;
  outline: none;

  background-color: #eaeae1;
  border-radius: 999px;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.search-container.open{
  width: 220px;
}

.search-container.open input {
  opacity: 1;
}

.search-container .action-icon {
  flex-shrink: 0;
}