<div class="modal-overlay" *ngIf="isDetailsOpen" (click)="closeAttempt.emit()">

  <div class="modal-wrapper">

    <div class="modal-content" (click)="$event.stopPropagation()">

      <div class="modal-grid">

        <!-- LEFT SIDE -->
        <div class="modal-left">

          <!-- NAME -->
          <div class="form-group">
            <label> NAME * </label>

            <input 
             type="text"
             [ngModel]="editableProduct?.name"
             (ngModelChange)="editableProduct!.name = $event"
             [class.input-error]="triedSave && !editableProduct?.name"
             [disabled]="!isEditMode"
            />

            <span class="error-message" *ngIf="triedSave && !editableProduct?.name"> This field is required! </span>

          </div>

          <!-- CODE -->
          <div class="form-group">
            <label> CODE * </label>

            <input
            type="text"
            [ngModel]="editableProduct?.code"
            (ngModelChange)="editableProduct!.code = $event"
            [class.input-error]="triedSave && isCodeInvalid()"
            [disabled]="!isEditMode"/>

            <span class="error-message" *ngIf="triedSave && !editableProduct?.code"> This field is required! </span>
            <span class="error-message" *ngIf="triedSave && editableProduct?.code && isCodeInvalid()"> Code must contain only numbers (8-20 digits) </span>
          </div>

          <!-- PRICE / DISCOUNT -->
          <div class="form-row">

            <div class="form-group">
              <div class="label-container">
                <label> PRICE * </label>
              </div>

              <input 
              type="number"
              [ngModel]="editableProduct?.originalPrice ?? editableProduct?.price"
              (ngModelChange)="editableProduct!.price = $event" 
              [class.input-error]="triedSave && !editableProduct?.price"
              [disabled]="!isEditMode"
              step="any"/>

              <span class="error-message" *ngIf="triedSave && !editableProduct?.price"> This field is required! </span>

            </div>

            <div class="form-group">

              <div class="label-container">
                <label> DISCOUNT </label>

                <div class="info-container">
                  <span class="material-symbols-rounded info-icon" (click)="toggleDiscountInfo.emit()">info</span>
                  <div class="info-ballon" *ngIf="showDiscountInfo">Temporarily unavailable</div>
                </div>

              </div>

              <input type="text" [ngModel]="editableProduct?.discountPercentage ? editableProduct?.discountPercentage + '%' : ''" disabled/>
            </div>

          </div>

          <!-- DESCRIPTION -->
          <div class="form-group">
            <label> DESCRIPTION </label>
            <textarea rows="4" [ngModel]="editableProduct?.description"
                (ngModelChange)="editableProduct!.description = $event" [disabled]="!isEditMode">
            </textarea>
          </div>

          <!-- CATEGORY / QUANTITY / STATUS -->
          <div class="form-row bottom-row">

            <div class="form-group">
              <label> CATEGORY * </label>

              <div class="custom-select">

                <div class="selected" 
                [class.input-error]="triedSave && !editableProduct?.category"
                (click)="toggleCategoryDropdown.emit()">{{ editableProduct?.category || 'SELECT' }}</div>

                <span class="error-message" *ngIf="triedSave && !editableProduct?.category"> This field is required! </span>

                <div class="dropdown" *ngIf="isCategoryOpen && isEditMode" (click)="$event.stopPropagation()">

                  <div (click)="selectCategory.emit(ProductCategory.FRUITS)">FRUITS</div>
                  <div (click)="selectCategory.emit(ProductCategory.VEGETABLES)">VEGETABLES</div>
                  <div (click)="selectCategory.emit(ProductCategory.SWEETS)">SWEETS</div>

                </div>

              </div>

            </div>

            <div class="form-group quantity">
              <label> QUANTITY * </label>

              <input 
                type="number"
                [ngModel]="editableProduct?.quantity"
                (ngModelChange)="editableProduct!.quantity = $event"
                [class.input-error]="triedSave && !editableProduct?.quantity"
                [disabled]="!isEditMode"
              />

              <span class="error-message quantity-error" *ngIf="triedSave && !editableProduct?.quantity"> This field is required! </span>

            </div>

            <div class="form-group">
              <label> STATUS </label>
              <label class="switch">
                <input type="checkbox" 
                [checked]="editableProduct?.status === ProductStatus.ACTIVE" 
                (change)="toggleStatus.emit($event)" [disabled]="!isEditMode">
                <span class="slider"></span>
              </label>
            </div>

          </div>

        </div>

      <!-- RIGHT SIDE -->
        <div class="modal-right">

          <div class="modal-header">
            
            <button *ngIf="!isEditMode && mode !== 'create'" class="edit-btn" (click)="enableEdit.emit()">
              <span class="material-symbols-rounded">edit</span>
            </button>

            <div class="btn-container" *ngIf="isEditMode && mode !== 'create'">
              <button class="btn-ok" (click)="save.emit(); $event.stopPropagation()">
                <span class="material-symbols-rounded">check</span>
              </button>

              <button class="btn-cancel-edit" (click)="cancelEdit.emit()">
                <span class="material-symbols-rounded">close</span>
              </button>
            </div>

          </div>

          <label class="preview-label">PREVIEW</label>

          <div class="image-preview">
            <img [src]="editableProduct?.imageUrl || 'images/placeholder.png'"/>
            <span class="material-symbols-rounded delete-icon" *ngIf="editableProduct?.imageUrl" 
            (click)="removeImage.emit()"> delete </span>
          </div>

          <input #fileInput type="file" accept="image/*" (change)="imageSelected.emit($event)" hidden>

          <span class="error-message" *ngIf="imageError">
          {{ imageError }}
          </span>
          
          <button class="upload-btn" (click)="fileInput.click()">
            <span class="material-symbols-rounded">upload</span>
              Upload Files
          </button>

          <button *ngIf="mode === 'create'" class="create-btn" (click)="save.emit(); $event.stopPropagation()">
            <span class="material-symbols-rounded">wand_stars</span>
            Create product
          </button>

          <button *ngIf="mode !== 'create'" class="delete-btn" (click)="deleteProductClick.emit(); $event.stopPropagation()">
            <span class="material-symbols-rounded">delete</span>
            Delete product
          </button>

        </div>

      </div>
  
    </div>

    <button class="action-icon-close" (click)="closeAttempt.emit()">
      <span class="material-symbols-rounded">close</span>
    </button>

  </div>

</div>