.success-toast {
  position: fixed;
  bottom: 24px;
  right: 24px;

  padding: 14px 20px;

  background-color: #8ac731;
  color: #eaeae1;

  border-radius: 100px;

  font-size: 14px;
  font-weight: 500;

  z-index: 999;

  animation: fadeInOut 4s ease forwards;
}

.success-toast.error-toast {
  background-color: #a03426;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}