<div #menuContainer class="side-menu-overlay" [class.open]="isOpen">

  <div class="side-menu-content">

    <!-- PROFILE -->
    <div class="profile-section">

      <div class="profile-info">
        <h2>{{ userProfile.name }}</h2>
        <span>{{ userProfile.employeeCode }}</span>
      </div>

      <img
        [src]="userProfile.imageUrl"
        class="profile-image"
      />

    </div>

    <!-- BUTTONS -->
    <div class="menu-buttons">

      <button class="menu-btn" (click)="toggleNotifications()">
        Notifications
        <div class="notification-dot menu-notification-dot" *ngIf="hasUnreadNotifications()"></div>
      </button>

      <button class="menu-btn" (click)="togglePromotions()">
        Promotions
      </button>

      <button class="menu-btn" (click)="toggleAbout()">
        About
      </button>

    </div>

    <!-- LOGOUT -->
    <button class="logout-btn disabled">
      <span class="material-symbols-rounded">logout</span>
      <span class="coming-soon-badge">Coming soon</span>
    </button>

  </div>

</div>

<app-about-me
  [isOpen]="isAboutOpen"
  (close)="isAboutOpen = false">
</app-about-me>

<app-notifications-popup
  [isOpen]="isNotificationsOpen"
  (close)="isNotificationsOpen = false"
  (openNotificationDetails)="openNotificationDetails($event)"
  (unreadStateChange)="onNotificationsStateChange($event)">
</app-notifications-popup>

<app-notification-details-modal
  *ngIf="isNotificationDetailsModalOpen"
  [notification]="selectedNotification"
  (close)="isNotificationDetailsModalOpen = false"
  (goToProduct)="goToProductFromNotification($event)">
</app-notification-details-modal>