<div class="promotions-page" [class.blurred]="showModal() || showBulkDeleteConfirm()">

  <aside class="sidebar left">

    <div class="sidebar-top">
      <button class="action-icon back-btn" (click)="goBack()">
        <span class="material-symbols-rounded">keyboard_arrow_left</span>
      </button>
    </div>

  </aside>

  <div class="page-header">
    <h1>Promotions</h1>
  </div>

  <div class="actions-bar">

      <button class="delete-promotions-btn" (click)="toggleDeleteMode()">
        {{ isDeleteMode() ? 'Cancel' : 'Delete promotions' }}
      </button>

      <button class="action-icon clean-filter-btn" [disabled]="!hasActiveFilters()" (click)="clearFilters()">
        <span class="material-symbols-rounded">filter_list_off</span>
      </button>

      <button class="action-icon add-btn" (click)="openCreateModal()">
        <span class="material-symbols-rounded">add</span>
      </button>

    </div>

    <div class="delete-toolbar" *ngIf="isDeleteMode()">
      <span class="delete-message">
        SELECT THE PROMOTIONS YOU WANT TO REMOVE
      </span>
      <div class="delete-right">
        <span class="selected-count">
          {{ selectedPromotions().length }} selected
        </span>
        <button
          class="delete-products-btn"
          [disabled]="selectedPromotions().length === 0"
          (click)="deleteSelectedPromotions()"
        >
          Delete promotions
        </button>
      </div>
    </div>

    <div class="promotions-list">
      <app-promotions-list
        [promotions]="promotions()"
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        [targetTypeFilter]="targetTypeFilter()"
        [startDateFilter]="startDateFilter()"
        [endDateFilter]="endDateFilter()"
        [statusFilter]="statusFilter()"
        [isDeleteMode]="isDeleteMode()"
        [selectedIds]="selectedPromotions()"
        (previousPage)="previousPage()"
        (nextPage)="nextPage()"
        (targetTypeFilterChange)="setTargetTypeFilter($event)"
        (startDateFilterChange)="setStartDateFilter($event)"
        (endDateFilterChange)="setEndDateFilter($event)"
        (statusFilterChange)="setStatusFilter($event)"
        (promotionToggle)="togglePromotionSelection($event)"
      ></app-promotions-list>
    </div>
    
</div>

@if (showModal()) {
  <app-promotion-form-modal
    [saving]="creatingPromotion()"
    [serverError]="createError()"
    (closed)="closeModal()"
    (save)="onCreatePromotion($event)"
  ></app-promotion-form-modal>
}

<app-confirmation-modal
  [isOpen]="showBulkDeleteConfirm()"
  [title]="'Delete promotions'"
  [message]="'These promotions will be permanently removed. Are you sure?'"
  [confirmText]="'Delete'"
  (confirm)="confirmBulkDelete()"
  (cancel)="cancelBulkDelete()"
></app-confirmation-modal>
