<div class="products-page">

  <!-- LEFT BACK -->
  <aside class="sidebar left">

    <div class="sidebar-top">

      <div #searchContainer class="search-container" [class.open]="isSearchOpen">
        <button class="action-icon" (click)="toggleSearch()">
          <span class="material-symbols-rounded">search</span>
        </button>

        <input
          #searchInput
          type="text"
          placeholder="Search products..."
          [(ngModel)]="searchTerm"
          (input)="search()"
        />
      </div>

      <div  #filterContainer class="filter-container">
        <button class="action-icon" (click)="toggleFilter()">
          <span class="material-symbols-rounded">tune</span>
        </button>
      </div>

      <div #filterPanel class= "filters-panel" [class.open]="isFilterOpen"  (click)="$event.stopPropagation()">

        <!-- SORT BY -->
        <div class="filter-group">

          <h4>SORT BY:</h4>
          
          <div class="filter-grid sort-row">
            <label><input type="checkbox" (change)="setSortBy('name,asc')" [checked]="filters.sortBy === 'name,asc'"> A-Z </label>
            <label><input type="checkbox" (change)="setSortBy('name,desc')" [checked]="filters.sortBy === 'name,desc'"> Z-A </label>
          </div>

          <div class="filter-grid sort-row">
            <label><input type="checkbox" (change)="setSortBy('price,asc')" [checked]="filters.sortBy === 'price,asc'"> Price ↑ </label>
            <label><input type="checkbox" (change)="setSortBy('price,desc')" [checked]="filters.sortBy === 'price,desc'"> Price ↓ </label>
          </div>

          <div class="filter-grid sort-row">
            <label><input type="checkbox" (change)="setSortBy('quantity,asc')" [checked]="filters.sortBy === 'quantity,asc'"> Quantity ↑ </label>
            <label><input type="checkbox" (change)="setSortBy('quantity,desc')" [checked]="filters.sortBy === 'quantity,desc'"> Quantity ↓ </label>
          </div>
        </div>
      
        <!-- STATUS -->
        <div class="filter-group">

          <h4>STATUS:</h4>

          <div class="filter-grid">
            <label>
              <input type="checkbox" 
              (change)="setStatus(ProductStatus.ACTIVE)" 
              [checked]="filters.status === ProductStatus.ACTIVE"> 
              Active 
            </label>
            <label>
              <input type="checkbox"
              (change)="setStatus(ProductStatus.INACTIVE)"
              [checked]="filters.status === ProductStatus.INACTIVE"> 
              Inactive 
            </label>
            <label>
              <input type="checkbox" 
              (change)="setStatus(ProductStatus.OUT_OF_STOCK)"
              [checked]="filters.status === ProductStatus.OUT_OF_STOCK"> 
              Out of stock 
            </label>
          </div>

        </div>

        <!-- CATEGORY -->
        <div class="filter-group">

          <h4>CATEGORY:</h4>

          <div class="filter-grid">
            <label>
              <input type="checkbox"
              (change)="toggleCategory(ProductCategory.FRUITS)"
              [checked]="filters.categories.includes(ProductCategory.FRUITS)"> 
              Fruits 
            </label>
            <label>
              <input type="checkbox"
              (change)="toggleCategory(ProductCategory.VEGETABLES)"
              [checked]="filters.categories.includes(ProductCategory.VEGETABLES)"> 
              Vegetables 
            </label>
            <label>
              <input type="checkbox"
              (change)="toggleCategory(ProductCategory.SWEETS)"
              [checked]="filters.categories.includes(ProductCategory.SWEETS)"> 
              Sweets 
            </label>
          </div>

        </div>

        <!-- PRODUCTS PER PAGE -->

        <div class="filter-group">

          <h4>PRODUCTS PER PAGE:</h4>

          <div class="filter-grid">
            <label><input type="checkbox" (change)="setPageSize(8)" [checked]="filters.pageSize === 8"> 8 </label>
            <label><input type="checkbox" (change)="setPageSize(12)" [checked]="filters.pageSize === 12"> 12 </label>
            <label><input type="checkbox" (change)="setPageSize(24)" [checked]="filters.pageSize === 24"> 24 </label>
          </div>

        </div>

        <hr>
        <button class= "clear-filters" (click)="clearFilters()">CLEAR</button>
      </div>

    </div>

    <div class="sidebar-bottom">
      <button *ngIf="currentPage > 0" class="action-icon back-button" (click)="previousPage()">
        <span class="material-symbols-rounded">keyboard_arrow_left</span>
      </button>
    </div>

  </aside>

  <!-- MAIN CONTENT -->

  <main class="products-content">

    <ng-container *ngIf="loading; else loadedState">
      <p>Loading products...</p>
    </ng-container>

    <ng-template #loadedState>
      <div class="delete-toolbar" *ngIf="isDeleteMode">
          <span class="delete-message">
            SELECT THE PRODUCTS YOU WANT TO REMOVE
          </span>
          <div class="delete-right">
            <span class="selected-count">
              {{ selectedProducts.length }} selected
            </span>
            <button
              class="delete-products-btn"
              [disabled]="selectedProducts.length === 0"
              (click)="deleteSelectedProducts()"
            >
              Delete products
            </button>
          </div>
        </div>

      <ng-container *ngIf="products.length > 0; else emptyState">
        <section class="products-grid">
          <app-product-card
            *ngFor="let product of products; trackBy: trackById"
            [product]="product"
            [isSelected]="isProductSelected(product.id!)"
            [isDeleteMode]="isDeleteMode"
            (productClick)="handleProductClick($event)">
          </app-product-card>
        </section>
      </ng-container>
    </ng-template>

    <ng-template #emptyState>
      <p>No product found.</p>
    </ng-template>

  </main>

  <!-- RIGHT BACK -->
  <aside class="sidebar right">

    <div class="sidebar-top">
      <button class="action-icon" (click)="toggleMenu()">
        <span class="material-symbols-rounded">menu</span>
         <div class="menu-icon-dot" *ngIf="hasUnreadNotifications"></div>
      </button>
    </div>

    <div class="sidebar-center">
      <button *ngIf="!isDeleteMode" class="action-icon" (click)="openCreateProduct()">
        <span class="material-symbols-rounded">add</span>
      </button>
      <button *ngIf="isDeleteMode" class="action-icon close-delete-btn" (click)="toggleDeleteMode()">
        <span class="material-symbols-rounded">close</span>
      </button>
      <button class="action-icon" (click)="toggleDeleteMode()">
        <span class="material-symbols-rounded">remove</span>
      </button>
    </div>

    <div class="sidebar-bottom">
      <button *ngIf="currentPage < totalPages - 1" class="action-icon back-button" (click)="nextPage()">
        <span class="material-symbols-rounded">keyboard_arrow_right</span>
      </button>
    </div>

  </aside>

  <app-side-menu
    [isOpen]="isMenuOpen"
    [userProfile]="userProfile"
    (closeMenu)="isMenuOpen = false"
    (openProductFromNotification)="openProductFromNotification($event)"
    (unreadStateChange)="hasUnreadNotifications = $event">
  </app-side-menu>
  
</div>

<app-product-modal
  [isDetailsOpen]="isDetailsOpen"
  [editableProduct]="editableProduct"
  [isEditMode]="isEditMode"
  [triedSave]="triedSave"
  [showDiscountInfo]="showDiscountInfo"
  [isCategoryOpen]="isCategoryOpen"
  [mode]="mode"

  (closeAttempt)="handleCloseAttempt()"
  (enableEdit)="enableEdit()"
  (cancelEdit)="cancelEdit()"
  (save)="saveChanges()"

  (toggleStatus)="toggleStatus($event)"
  (toggleDiscountInfo)="toggleDiscountInfo()"
  (selectCategory)="selectCategory($event)"

  (toggleCategoryDropdown)="toggleCategoryDropdown()"
  (deleteProductClick)="deleteProduct()"
  (removeImage)="removeImage()"
  (imageSelected)="onImageSelected($event)"
  [imageError]="imageError"
></app-product-modal>

<app-confirmation-modal
  [isOpen]="showDeleteConfirm"
  [title]="'Delete product'"
  [message]="'Are you sure you want to delete ' + selectedProduct?.name + '?'"
  [confirmText]="'Delete'"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
></app-confirmation-modal>

<app-confirmation-modal
  [isOpen]="showExitConfirm"
  [title]="'Unsaved changes'"
  [message]="'You have unsaved changes. Do you really want to leave?'"
  [confirmText]="'Leave'"
  (confirm)="confirmExit()"
  (cancel)="cancelExit()"
></app-confirmation-modal>

<app-confirmation-modal
  [isOpen]="showBulkDeleteConfirm"
  [title]="'Delete products'"
  [message]="'These products will be permanently removed. Are you sure?'"
  [confirmText]="'Delete'"
  (confirm)="confirmBulkDelete()"
  (cancel)="cancelBulkDelete()"
></app-confirmation-modal>
